@import '/src/assets/styles/_variables.scss';

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 24px;

	width: 470px;
	box-sizing: border-box;

	&.success {
		align-items: center;
	}

	> .title {
		font-size: 20px;
		font-weight: 800;
	}

	> .titleSuccess {
		font-size: 20px;
		font-weight: 600;
	}

	> form {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;

		> div {
			width: 100%;

			> p {
				color: $accent;
				font-size: 14px;
				font-weight: 600;
				margin-bottom: 5px;
			}
		}

		> button {
			margin-top: 10px;
		}
	}
}

@media (max-width: $mobile) {
	.form {
		width: 320px;
	}
}
