@import '/src/assets/styles/_variables.scss';

header {
	width: 100%;
	background: $white;
	box-shadow: 0px 0px 20px 5px #000000b0;

	position: fixed;
	z-index: 10;

	> .inner {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		padding: 10px 0;

		@include applyStyles($container);

		> img {
			cursor: pointer;
		}

		> .nav {
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			justify-content: space-between;
			width: 250px;

			> a {
				display: flex;
			}

			> svg,
			> a > svg {
				width: 24px;
				height: 24px;

				cursor: pointer;

				fill: $accent;
				transition: $transition;

				&:hover {
					fill: $light-accent;
				}
			}
		}
	}
}
